[defaults]
inventory = inventory/production.ini
host_key_checking = False
retry_files_enabled = False
timeout = 60
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o ServerAliveInterval=30 -o ServerAliveCountMax=5
pipelining = True
