HPC_LITELLM_INTERNAL_BASE_URL={{ litellm_internal_base_url }}
HPC_LITELLM_PUBLIC_BASE_URL={{ hpc_llm_public_base_url }}
HPC_LITELLM_ADMIN_URL={{ hpc_llm_admin_url }}
LITELLM_MASTER_KEY={{ litellm_master_key | default('') }}
OPENWEBUI_LITELLM_BASE_URL={{ openwebui_litellm_base_url }}
OPENWEBUI_LITELLM_KEY_DIR={{ openwebui_litellm_key_dir }}
HPC_OPENWEBUI_VERSION={{ openwebui_version }}
HPC_OLLAMA_VERSION={{ ollama_version }}
HPC_JUPYTER_UBUNTU_VERSION={{ jupyter_image_ubuntu_version }}
HPC_PUBLIC_DOMAIN={{ jupyterhub_public_domain }}
HPC_JOB_DNS_DOMAIN={{ jupyterhub_job_dns_domain }}
HPC_PUBLIC_SCHEME={{ hpc_public_scheme | default('https') }}
HPC_SLURM_NODE_NAME={{ ansible_hostname }}
JUPYTERHUB_PORT={{ jupyterhub_port | default(8000) }}
JUPYTERHUB_HUB_PORT={{ jupyterhub_hub_port | default(8081) }}
HPC_PORTAL_ADMIN_USERS='{{ hpc_portal_admin_users | default([ansible_user]) | to_json }}'
HPC_PORTAL_PROTECTED_USERS='{{ hpc_portal_protected_users | default([ansible_user, 'root']) | to_json }}'
HPC_PORTAL_USER_MIN_UID={{ hpc_portal_user_min_uid | default(1000) }}
HPC_PORTAL_GRANT_SUDO={{ hpc_portal_grant_sudo_on_create | default(false) | bool | lower }}
HPC_PORTAL_SUDO_GROUP={{ hpc_portal_user_sudo_group | default('sudo') }}
HPC_GPU_COUNT={{ slurm_effective_gpu_count | default(slurm_gpu_count | default(0)) }}
HPC_OLLAMA_ALLOWED_CPUS='{{ ollama_slurm_allowed_cpus | default([4, 8, 12, 16, 20]) | to_json }}'
HPC_OLLAMA_ALLOWED_MEMORY='{{ ollama_slurm_allowed_memory | default(['16G', '32G', '64G', '96G', '112G']) | to_json }}'
HPC_OLLAMA_DEFAULT_CPUS={{ ollama_slurm_default_cpus | default(8) }}
HPC_OLLAMA_DEFAULT_MEMORY={{ ollama_slurm_default_memory | default('64G') }}
HPC_OLLAMA_ALLOWED_PARALLEL='{{ ollama_allowed_parallel | default([1, 2, 4]) | to_json }}'
HPC_OLLAMA_DEFAULT_PARALLEL={{ ollama_default_parallel | default(2) }}
HPC_OLLAMA_ALLOWED_MAX_LOADED_MODELS='{{ ollama_allowed_max_loaded_models | default([1, 2, 3]) | to_json }}'
HPC_OLLAMA_DEFAULT_MAX_LOADED_MODELS={{ ollama_default_max_loaded_models | default(2) }}
HPC_OLLAMA_ALLOWED_CONTEXT_LENGTHS='{{ ollama_allowed_context_lengths | default([32768, 65536, 131072, 262144]) | to_json }}'
HPC_OLLAMA_DEFAULT_CONTEXT_LENGTH={{ ollama_default_context_length | default(65536) }}
HPC_OLLAMA_ALLOWED_KV_CACHE_TYPES='{{ ollama_allowed_kv_cache_types | default(['f16', 'q8_0', 'q4_0']) | to_json }}'
HPC_OLLAMA_DEFAULT_KV_CACHE_TYPE={{ ollama_default_kv_cache_type | default('q8_0') }}
HPC_OLLAMA_ALLOWED_KEEP_ALIVE='{{ ollama_allowed_keep_alive | default(['5m', '30m', '1h', '-1']) | to_json }}'
HPC_OLLAMA_DEFAULT_KEEP_ALIVE={{ ollama_default_keep_alive | default('30m') }}
HPC_OLLAMA_ALLOWED_MAX_QUEUE='{{ ollama_allowed_max_queue | default([32, 64, 128, 256]) | to_json }}'
HPC_OLLAMA_DEFAULT_MAX_QUEUE={{ ollama_default_max_queue | default(64) }}
HPC_OLLAMA_DEFAULT_FLASH_ATTENTION={{ ollama_default_flash_attention | default(true) | bool | lower }}
HPC_OLLAMA_MODELS_DIR={{ ollama_models_dir | default('/srv/ollama/models') }}
HPC_OLLAMA_PORT={{ ollama_port | default(11434) }}
HPC_OLLAMA_API_BASE=http://{{ ollama_host | default('127.0.0.1') }}:{{ ollama_port | default(11434) }}
HPC_OLLAMA_RUNTIME={{ ollama_slurm_time | default('INFINITE') }}
HPC_BATCH_EXECHOST_EXP={{ jupyterhub_batch_exechost_exp | default('127.0.0.1') }}
HPC_SEARXNG_QUERY_URL='{{ searxng_query_url }}'
OPENWEBUI_WEB_SEARCH_RESULT_COUNT={{ openwebui_web_search_result_count }}
OPENWEBUI_WEB_SEARCH_CONCURRENT_REQUESTS={{ openwebui_web_search_concurrent_requests }}
OPENWEBUI_WEB_LOADER_CONCURRENT_REQUESTS={{ openwebui_web_loader_concurrent_requests }}
OPENWEBUI_WEB_FETCH_MAX_CONTENT_LENGTH={{ openwebui_web_fetch_max_content_length }}
