HPC_LITELLM_INTERNAL_BASE_URL={{ litellm_internal_base_url }}
HPC_LITELLM_PUBLIC_BASE_URL={{ hpc_llm_public_base_url }}
HPC_LITELLM_ADMIN_URL={{ hpc_llm_admin_url }}
LITELLM_MASTER_KEY={{ litellm_master_key | default('') }}
OPENWEBUI_LITELLM_BASE_URL={{ openwebui_litellm_base_url }}
OPENWEBUI_LITELLM_API_KEY_FILE={{ openwebui_litellm_api_key_file }}
