{% raw %}
{% extends "templates/login.html" %}

{% block login_container %}
<div class="gx10-login-note">
  <strong>Linux アカウントでログイン</strong>
  サーバー OS のユーザー名とパスワードを入力してください。JupyterHub 専用のアカウントではなく、Linux ユーザーと同じです。
</div>
{{ super() }}
{% endblock %}

{% block username_input %}
<label for="username_input">Linux ユーザー名:</label>
<input id="username_input"
       type="text"
       autocapitalize="off"
       autocorrect="off"
       autocomplete="username"
       class="form-control"
       name="username"
       value="{{ username }}"
       autofocus="autofocus" />
{% endblock username_input %}

{% block password_input %}
<label for="password_input">Linux パスワード:</label>
<input id="password_input"
       type="password"
       class="form-control"
       autocomplete="current-password"
       name="password" />
{% endblock password_input %}
{% endraw %}
