SEARCH_MCP_HOST={{ search_mcp_host }}
SEARCH_MCP_PORT={{ search_mcp_port }}
SEARCH_MCP_AUTH_TOKEN={{ search_mcp_auth_token }}
SEARXNG_SEARCH_URL=http://{{ searxng_host }}:{{ searxng_port }}/search
SEARCH_DEFAULT_RESULT_COUNT={{ search_mcp_default_result_count }}
SEARCH_MAX_RESULT_COUNT={{ search_mcp_max_result_count }}
SEARCH_QUERY_MAX_LENGTH={{ search_mcp_query_max_length }}
SEARCH_TIMEOUT={{ search_mcp_timeout }}
SEARCH_MAX_RESPONSE_BYTES={{ search_mcp_max_response_bytes }}
SEARCH_FETCH_TOTAL_TIMEOUT={{ search_mcp_fetch_total_timeout }}
SEARCH_FETCH_CONNECT_TIMEOUT={{ search_mcp_fetch_connect_timeout }}
SEARCH_FETCH_MAX_ADDRESSES={{ search_mcp_fetch_max_addresses }}
SEARCH_FETCH_MAX_RESPONSE_BYTES={{ search_mcp_fetch_max_response_bytes }}
SEARCH_FETCH_MAX_CONTENT_LENGTH={{ search_mcp_fetch_max_content_length }}
SEARCH_FETCH_MAX_REDIRECTS={{ search_mcp_fetch_max_redirects }}
SEARCH_FETCH_MAX_CONCURRENCY={{ search_mcp_fetch_max_concurrency }}
SEARCH_FETCH_URL_MAX_LENGTH={{ search_mcp_fetch_url_max_length }}
SEARCH_FETCH_ALLOWED_PORTS={{ search_mcp_fetch_allowed_ports | join(',') }}
SEARCH_FETCH_USER_AGENT={{ search_mcp_fetch_user_agent }}
SEARCH_FETCH_REFERENCE_TTL={{ search_mcp_fetch_reference_ttl }}
SEARCH_FETCH_REFERENCE_MAX_LENGTH={{ search_mcp_fetch_reference_max_length }}
SEARCH_COMBINED_DEFAULT_FETCH_COUNT={{ search_mcp_combined_default_fetch_count }}
SEARCH_COMBINED_MAX_FETCH_COUNT={{ search_mcp_combined_max_fetch_count }}
SEARCH_COMBINED_MAX_CANDIDATES={{ search_mcp_combined_max_candidates }}
SEARCH_COMBINED_TOTAL_TIMEOUT={{ search_mcp_combined_total_timeout }}
