SEARCH_MCP_HOST={{ search_mcp_host }}
SEARCH_MCP_PORT={{ search_mcp_port }}
SEARXNG_SEARCH_URL=http://{{ searxng_host }}:{{ searxng_port }}/search
SEARCH_DEFAULT_RESULT_COUNT={{ search_mcp_default_result_count }}
SEARCH_MAX_RESULT_COUNT={{ search_mcp_max_result_count }}
SEARCH_QUERY_MAX_LENGTH={{ search_mcp_query_max_length }}
SEARCH_TIMEOUT={{ search_mcp_timeout }}
SEARCH_MAX_RESPONSE_BYTES={{ search_mcp_max_response_bytes }}
